.addToCartPopup-layer {
    position: fixed;
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.addToCartPopup-confirmation {
    position: fixed;
    z-index: 210;
    left: 25%;
    top: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.addToCartPopup {
    position: absolute;
    height: 120%;
    width: 96%;
    top: -5%;
    left: 2%;
    z-index: 210;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.95);

    .addToCartPopup-header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        font-weight: bold;
        color: white;
        background-color: #008dff;
        width: 100%;
        height: 12%;
    }

    .addToCartPopup-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 88%;

        .addToCartPopup-body-quantity {
            height: 32%;
            width: 100%;
            display: flex;
            justify-content: center;

            .addToCartPopup-minus {
                padding-top: 17%;
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .addToCartPopup-plus {
                padding-top: 17%;
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .addToCartPopup-quantity {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;
                height: 100%;
                width: 48%;
                color: #008dff;

                .addToCartPopup-quantity-top {
                    padding-top: 5%;
                    font-weight: bold;
                    text-align: center;
                    font-size: 1em;
                    width: 100%;
                }
                .addToCartPopup-quantity-bottom {
                    font-size: 3em;
                    font-weight: bold;
                }
            }
        }

        .addToCartPopup-properties {
            /*background: pink;*/
            height: 68%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .addToCartPopup-product {
                padding-left: 5%;
                width: 100%;
            }

            .addToCartPopup-options {
                padding-left: 5%;
                width: 100%;
                height: 20%;

                .addToCartPopup-labels {
                    position: relative;
                    width: 60%;
                    height: 100%;
                    float: left;
                    display: flex;
                    align-items: center;
                }
                .addToCartPopup-icons {
                    display: flex;
                    position: relative;
                    width: 40%;
                    height: 100%;
                    float: right;
                    align-self: flex-end;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 80%;
                        width: auto;
                    }
                }
            }

            .addToCartPopup-labels {
                font-size: 1.2em;
                font-weight: bold;
            }
        }

        .addToCartPopup-addButton {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 25%;
            border-radius: 10px;
            background-color: #008dff;
            cursor: pointer;
            color: white;
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 3%;
            margin-bottom: 5%;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none;   /* Chrome/Safari/Opera */
            -khtml-user-select: none;    /* Konqueror */
            -moz-user-select: none;      /* Firefox */
            -ms-user-select: none;       /* Internet Explorer/Edge */
            user-select: none;         
        }
    }
}



.cart-cartlines-index {
    h2 {
        color: #d15400;
        font-weight: bold;
    }
    
    .cartlines-header {
        color: white;
        background: #eda111;
        border-right: 1px solid white;
        text-align: center;
    }
    
    .cartline-row {
        margin-left: 0;
        padding: 0;
        /*font-size: 1em;*/
        /*height: 190px;*/
        .cartline-photo-container {
            width: 20%;
            /*padding: 0;*/
            margin: 1% 2.5% 1% 2.5%;
            .cartline-photo {
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                position: relative;
                border: 1px solid #b5b5b5;
                overflow: hidden;
                background: white;
                border-radius: 3px;
            }
        }
        .cartline-product-details {
            height: 100%;
            padding-top: 20px;
            .cartline-product-name {
                width: 100%;
            }
            .cartline-product-options {
                width: 100%;
                ul {
                    padding-left: 10px;
                }
            }
        }
        .cartline-product-quantity {
            .quantity-container {
                padding-top: 50px;
            }
            padding-left: 0;
            padding-right: 0;
        }
        .cartline-product-unitPrice {
            padding-top: 20px;
            text-align: right;
        }
        .cartline-product-price {
            padding-top: 20px;
            padding-right: 0;
            padding-left: 0;
            text-align: right;
        }
        .cartline-close {
            padding-top: 5px;
            padding-right: 5px;
            span {
                float:right;
                font-size: 2em;
            }
        }
    }
    
    .cartline-row:nth-child(even) {
        background: #f0f0f0;
    }
    
    .order-summary {
        
        margin-top: 20px;
        margin-bottom: 100px;
        padding-top: 30px;
        border-top: 1px solid #b5b5b5;
        
        .order-summary-block {
            margin-bottom: 25px;
            .order-total {
                margin-top: 10px;
            }
        }
        
    }
}

.cart-order-details {
    height: 800px;
    /*background: #eda111;*/
    border-left: 2px solid #b5b5b5;
}

.order-info {
    h2 {
        color: #d15400;
        font-weight: bold;
        margin-bottom: 15px;
    }
    h3 {
        margin-bottom: 15px;
    }
}

