a {
    text-decoration: none;
}
.navbar {
    background: #19161a; /* Old browsers */
    background: -moz-linear-gradient(left, #19161a 0%, #435063 50%, #435063 51%, #19161a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #19161a 0%,#435063 50%,#435063 51%,#19161a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #19161a 0%,#435063 50%,#435063 51%,#19161a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19161a', endColorstr='#19161a',GradientType=1 ); /* IE6-9 */
    min-height: 97px;
    border-bottom: 6px solid #eda111;
    #logo-top {
        margin-top: 20px;
    }
    .navbar-brand {
        line-height: 97px;
    }
    .cart-btn {
        text-align: right;
    }
    .cart-btn.desktopmenu {
        padding: 13px 0px;
    }
    .navbar-back-to-index {
        overflow: hidden;
        position: absolute;
        right: 50%;
        top: 42%;
        width: 180px;
        height: 65%;
        background: #e89e11;
        padding: 10px;
        border-radius: 7px;
        color: white;
        font-size: medium;
        font-weight: bold;
        .navbar-back-to-index-img {
            position: absolute;
            height: 70%;
            top: 15%;
        }
        .navbar-back-to-index-text {
            position:absolute;
            width: 70%;
            right: 10px;
            top: 8px;
        }
    }
    .portraits-container {
        display: flex;
        padding: 11px 0;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        .portrait-container {
            position: relative;
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 30px;
            border: 3px solid #00a8d6;
            margin: 4px;
            .photos-vertical {
                height: 150%;
                max-width: 100%;
            }
            .photos-horizontal {
                width: 150%;
                max-height: 100%;
            }
        }
    }
}
.dropdown-menu {
    background: #505e74;
    top: 77px;
    border:0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    
    li {
        margin: 0;
        
        a {
            color: #FFF !important;
        }
        a.even {
            background: #008EFF;
        }
        a:hover {
            background: #FF0000 !important;
        }
    }
}
.desktopmenu {
    a {
        width: 65px;
        float: right;
    }
    .dropdown-menu {
        top: 83px;
    }
    ul.dropdown-menu {
        margin: 0px !important;
        width: 400px !important;
    }
    ul.dropdown-menu li a{
        float: left;
        width: 100%;
    }
    
}
div#content {
    margin-top: 97px;
}