.photos-index-label h2 {
    color: #66bbff;
    font-weight: bold;
}

.photos-horizontal {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 100%;
}

.update-orderline {
    cursor: pointer;
}

.photos-vertical {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: auto;
}

.photos-horizontal-background {
    height: 100%;
    width: 70%;
    background: #f5f5f5;
}

.photos-vertical-background {
    height: 70%;
    width: 100%;
    background: #f5f5f5;
}

.photos-index {
    .photos-index-row {
    }
    .photos-index-container {
        margin-bottom: 2%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .photos-index-icon {
        border: 1px solid #b5b5b5;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        .group-picture{
            cursor: pointer;
        }
    }
}

.photos-index-banner {
    border: 1px solid #b5b5b5;
    background-image: url('../img/layout/med/Hoogstraten_webshop-onderdelen-05.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-right: 0px;
    
    .photos-index-banner-ul {
        list-style-type: none;
        width: 100%;
    }
    
    .photos-index-banner-ul li {
        background: url('../img/layout/Hoogstraten_webshop-onderdelen-07.png') no-repeat;
        background-position: 8% 30%;
        background-size: 8%;
        padding-left: 20%;
        border-bottom: 1px solid #b5b5b5;
        color: #00b4ff;
        text-align: left;
    }
    
    @media only screen and (max-width: 990px) and (min-width: 426px) {
        .photos-index-banner-ul li {
            background-size: 3%;
        }
    }
    
    @media only screen and (max-width: 425px) and (min-width: 321px) {
        .photos-index-banner-ul li {
            background-size: 6%;
        }
    }
    
    .photos-index-banner-ul h5 {
        font-weight: bold;
    }
    
    font-weight: 1000;
    .photos-index-banner-ul li:nth-child(odd) {
        color: #006eab;
    }
    
    .photos-index-banner-ul li.li-no-background {
        background: none;
        padding: 5%;
        padding-top: 15%;
        border: none;
    }
}

.photos-index-banner-sm {
    border: 1px solid #b5b5b5;
    background: #19161a; /* Old browsers */
    background: -moz-linear-gradient(left, #19161a 0%, #435063 50%, #435063 51%, #19161a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #19161a 0%,#435063 50%,#435063 51%,#19161a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #19161a 0%,#435063 50%,#435063 51%,#19161a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19161a', endColorstr='#19161a',GradientType=1 ); /* IE6-9 */
    padding-left: 3%;
    padding-right: 0px;
    width: 100%;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    .banner-flex-item {
        /*border: 1px solid white;*/
        display: -webkit-flex;
        display: flex;
        height: 30px;
        width: 25%;
        margin-left: 1%;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        background: url('../img/layout/Hoogstraten_webshop-onderdelen-07.png') no-repeat;
        background-position: 0% 2%;
        background-size: auto 50%;
        padding-left: 20px;
        color: #00b4ff;
        font-size: 10px;
        font-weight: bold;
    }
    .long {
        width: 35%;
    }
    .last {
        /*margin-right: auto;*/
    }
    .photos-index-banner-img {
        position: absolute;
        height: auto;
        width: 20%;
        right: -5%;
        bottom: 100%;
        -ms-transform: rotate(9deg); /* IE 9 */
        -webkit-transform: rotate(9deg); /* Chrome, Safari, Opera */
        transform: rotate(12deg) translate(0%, 30%);
    }
    @media only screen and (max-width: 500px) {
        .small-font {
            font-size: 8px;
        }
    }
}

.photos-view-detail {
    margin-top: 4%;
    height: auto;
    
    h2 {
        color: #d15400;
        font-weight: bold;
    }
    
    .photo-container {
        width: 30%;
        height: 0;
        padding-bottom: 30%;
        margin-right: 1.5%;
        margin-bottom: 1.5%;
        position: relative;
        overflow: hidden;
    }
    
    .photos-view-detail-container {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        margin-top: 2%;
        margin-bottom: 1.5%;
        position: relative;
        overflow: hidden;
    }
    
    .photos-view-detail-text {
        width: 100%;
        text-align: center;
        h3 {
            color: #008eff;
            font-weight: bold;
            font-size: 14px;
        }
    }
    
    .photos-view-products-buttons-md {
        position: absolute;
        top: 36%;
        right: 0;
        .photos-view-products-select {
            width: 100%;
            height: auto;
        }
        h3 {
            color: #008eff;
            font-weight: bold;
            font-size: 25px;
        }
        @media only screen and (max-width: 1199px) {
            h3 {
                font-size: 19px;
            }
        }
    }
    .photos-view-products-buttons-sm {
        height: 100%;
        .photos-view-products-select {
            width: 100%;
            height: auto;
        }
        h3 {
            color: #008eff;
            font-weight: bold;
        }
        @media only screen and (max-width: 425px) {
            h3 {
                font-size: 16px;
            }
        }
    }
}



.photos-view-products {
    border-left: 2px solid #b5b5b5;
    .photos-view-products-row {
        height: 100%;
    }

    .photos-view-products-panel {
        margin-top: 9%;
        padding-left: 5%;
    }
    
    .photos-view-products-container {
        margin-bottom: 5%;
            
        .photos-view-products-labels {
            border-radius: 3px;
            margin-left: -3%;
            margin-right: -3%;
            color: white;
            font-weight: bold;
        }
        
        @media only screen and (max-width: 550px) {
            .photos-view-products-labels {
                font-size: 10px;
            }
        }
        
        .label1{
            background: #eda111;
        }
        .label2{
            background: #d17169;
        }
        .label3{
            background: #d05400;
        }
        .label4{
            background: #008dff;
        }
        .label5{
            background: #afc94c;
        }
        
        .photos-view-products-icon {
            width: 106%;
            height: 0;
            padding-bottom: 100%;
            margin-top: 5%;
            margin-left: -3%;
            margin-right: -5%;
            margin-bottom: 1.5%;
            position: relative;
            overflow: hidden;
            
            .photos-horizontal-overlay {
                width: 101%;
            }
            
            .photos-vertical-overlay {
                height: 101%;
            }
            .selected-product-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
            }
        }
    }
}

.photos-product-index {
    h2 {
        color: #d15400;
        font-weight: bold;
        margin-bottom: 3%;
    }
    .photos-product-container {
        margin-bottom: 5%;
        .modal-dialog {
                width: auto;
                margin: 20px;
            }
        }
        .photos-product-label {
            .row {
                height: 30px;
                margin-left: 0;
                margin-right: 0;
            }
            .flex-box {
                display: -webkit-flex;
                display: flex;
                height: 100%;
                align-items: center;
            }
            .price {
                color: white;
                background: #eda111;
                justify-content: flex-start;
                overflow: visible;
            }
            .dimensions {
                justify-content: flex-end;
            }
            .plus-sign, .plus-sign-non-quantity {
                position : absolute;
                height: 100%;
                width: auto;
                top: 0;
                right: 0;
                transform: translate(50%,0%);
                cursor:pointer;
                z-index: 100;
            }
            .photos-product-name {
                position: absolute;
                top: 5px;
                left: 20px;
            }
        }
        .photos-product-icon {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            margin-bottom: 1.5%;
            position: relative;
            overflow: hidden;
        }
        .photos-product-img-wrapper {
            position: relative;
            width: 100%;
            height: auto;
            .photos-digital-pack-title {
               color: #fff;
               position: absolute;
               top: 0;
               padding: 10px;
               text-align: center;
               font-weight: bold;
            }
            .photos-portrait-container {
                position: absolute;
                width: 100px;
                height: 100px;
                top: 50%;
                left: 50%;
                margin: -50px;
                overflow: hidden;
                border-radius: 55px;
                border: 3px solid #00ffff;
                z-index: 1;
                .photos-horizontal, .photos-vertical {
                    height: 150%;
                    max-width: 100%;
                }
            }
            .photos-digital-pack-subtitle {
                color: #00fbfb;
                position: absolute;
                bottom: 0;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                padding-bottom: 10px;
                padding-left: 10%;
                padding-right: 10%;
            }
            @media only screen and (max-width: 605px) and (min-width: 426px){
                .photos-digital-pack-title {
                    display: none;
                }
                .photos-portrait-container {
                    width: 75px;
                    height: 75px;
                    top: 42%;
                    left: 58%;
                }
            }
        }
    }
    
    .fullwidth{
        width: 100%;
    }
    
    @media only screen and (max-width: 425px) {
        .photos-product-container {
            width: 100%;
        }
    }
    @media only screen and (max-width: 375px) {
        h2 {
            font-size: 20px;
        }
    }
    
    .photos-view-buttons-panel {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        border-left: 2px solid #b5b5b5;
        border-bottom: 2px solid #b5b5b5;
    }
    
    .photos-view-buttons-panel .fixed {
        position: fixed;
        top: 97px;
        width: 64.95px;
        margin-left: -2px;
        border-left: 2px solid #b5b5b5;
        background: white;
        border-bottom: 2px solid #b5b5b5;
    }

    @media only screen and (max-width: 991px) and (min-width : 768px) {
        .photos-view-buttons-panel .fixed {
            width: 46.88px;
            margin-left: -2px;
        }
    }
    
    @media only screen and (max-width: 1199px) and (min-width : 992px) {
        .photos-view-buttons-panel .fixed {
            width: 53.88px;
            margin-left: -2px;
        }
    }
    
    @media only screen and (max-width: 1899px) and (min-width: 1600px) {
        .photos-view-buttons-panel .fixed {
            width: 58.61px;
            margin-left: -2px;
        }
    }
    
    @media only screen and (min-width: 1900px) {
        .photos-view-buttons-panel .fixed {
            width: 65.7px;
            margin-left: -2px;
        }
    }
    
    #photos-view-buttons-box1 {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 150px;
        border-bottom: 2px solid #b5b5b5;
        padding: 10%;
        padding-left: 15%;
        padding-right: 15%;
        overflow: hidden;
    }
    
    #photos-view-buttons-box2 {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 1000px;
        padding: 10%;
        padding-left: 15%;
        padding-right: 15%;
        overflow: hidden;
        
        .photos-view-buttons-button {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    
    .photos-view-buttons-button {
        height: auto;
        width: auto;
        position: relative;
        cursor: pointer;

        .photos-view-buttons-select {
            position: absolute;
            left: -23%;
            top: 50%;
            transform: translate(0%,-50%);
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 16px solid #afc94c;
        }

        @media only screen and (max-width: 1200px) {
            .photos-view-buttons-select {
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-left: 12px solid #afc94c;
            }
        }
    }
    
    @media only screen and (max-width: 767px) {        
        .photos-view-buttons-panel-top {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            border-bottom: 2px solid #b5b5b5;
            border-top: 2px solid #b5b5b5; 
            margin-bottom: 2%;
            height: 4%;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            padding: 0;
            align-items: center;
            flex-wrap: nowrap;
            background: white;
            
        }
        .photos-view-buttons-panel-top.affix {
            top: 97px;
            width: 75%;
            padding-bottom: 0%;
            height: auto;
            z-index: 200;
            border-top: none;
        }
        
        #photos-view-buttons-box1-top {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            border-right: 2px solid #b5b5b5;
        }
        #photos-view-buttons-box2-top {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-justify-content: space-around;
            justify-content: space-around;
        }
        .photos-view-buttons-button {
            padding: 8px;
            .photos-view-buttons-select {
                position: absolute;
                left: 50%;
                top: 0px;
                transform: translate(-50%,0%);
                width: 0;
                height: 0;
                border-top: 3.5vw solid #afc94c;
                border-left: 2.5vw solid transparent;
                border-right: 2.5vw solid transparent;
            }
        }
}


// fixed product panel media queries, to-do: better organize the code in the future

@media only screen and (max-width: 469px) and (min-width: 320px){
    .photos-view-products {
        width: 75px;
    }
    .photos-view-products-fixed {
        position: fixed;
        top: 97px;
        margin-left: -17px;
        margin-right: -15px;
        max-width: 75px;
        border-left: 2px solid #b5b5b5;
    }
    .photos-view-buttons-panel-top.affix {
        top: 97px;
        height: 70px;
        width: 73%;
        z-index: 200;
    }
}

@media only screen and (max-width: 629px) and (min-width : 470px) {
    .photos-view-products {
        width: 110px;
    }
    .photos-view-products-fixed {
        position: fixed;
        top: 97px;
        margin-left: -17px;
        margin-right: -15px;
        max-width: 110px;
        border-left: 2px solid #b5b5b5;
    }
    .photos-view-buttons-panel-top.affix {
        top: 97px;
        height: 70px;
        width: 73%;
        z-index: 200;
    }
}

@media only screen and (max-width: 767px) and (min-width : 630px) {
    .photos-view-products {
        width: 150px;
    }
    .photos-view-products-fixed {
        position: fixed;
        top: 97px;
        margin-left: -17px;
        margin-right: -15px;
        max-width: 150px;
        border-left: 2px solid #b5b5b5;
    }
}

@media only screen and (max-width: 991px) and (min-width : 768px) {
    .photos-view-products {
        width: 150px;
    }
    .photos-view-products-fixed {
        position: fixed;
        top: 97px;
        height: 100%;
        margin-left: -17px;
        margin-right: -15px;
        width: 150px;
        border-left: 2px solid #b5b5b5;
    }
}

@media only screen and (max-width: 1199px) and (min-width : 992px) {
    .photos-view-products-fixed {
        position: fixed;
        top: 97px;
        margin-left: -17px;
        margin-right: -15px;
        width: 323.33px;
        border-left: 2px solid #b5b5b5;
    }
    
    .photos-product-index .photos-product-container .photos-product-img-wrapper .photos-portrait-container {
        width: 50px;
        height: 50px;
        top: 66%;
        left: 66%;
    }
}

@media only screen and (max-width: 1599px) and (min-width : 1200px) {
    .photos-view-products-fixed {
        position: fixed;
        top: 97px;
        margin-left: -17px;
        width: 390px;
        border-left: 2px solid #b5b5b5;
    }
}

@media only screen and (max-width: 1899px) and (min-width: 1600px) {
    .index-left {
        width: 94.4%
    }
    .index-right {
        width: 5.6%;
    }
    .photos-view-products-fixed {
        position: fixed;
        top: 97px;
        margin-left: -17px;
        width: 392.5px;
        border-left: 2px solid #b5b5b5;
    }
    .photos-index-container {
        width: 14.2%;
    }
}

@media only screen and (min-width: 1900px) {
    .index-left {
        width: 95.58%
    }
    .index-right {
        width: 4.42%;
    }
    .photos-product-index {
        width: 79.5%;
    }
    .photos-view-products {
        width: 20.5%;
    }
    .col-xxl-2 {
        width: 20%;
    }
    .photos-view-products-fixed {
        position: fixed;
        top: 97px;
        margin-left: -17px;
        width: 383.34px;
        border-left: 2px solid #b5b5b5;
    }
    .photos-index-container {
        width: 14.2%;
    }
}