.photos-index-label h2 {
    color: #66bbff;
    font-weight: bold;
}

.photos-index {
    
    .photo-container {
        border: 1px solid #b5b5b5;
        width: 23.5%;
        height: 0;
        padding-bottom: 23.5%;
        margin-right: 1.5%;
        margin-bottom: 1.5%;
        position: relative;
        overflow: hidden;
    }
    
    .photos-horizontal-background {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        height: 100%;
        width: 70%;
        background: #f5f5f5;
    }
    
    .photos-vertical-background {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        height: 70%;
        width: 100%;
        background: #f5f5f5;
    }

    .photos-vertical {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        height: 100%;
        width: auto;
    }
    
    .photos-horizontal {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        height: auto;
        width: 100%;
    }
}

.photos-index-banner {
    border: 1px solid #b5b5b5;
    background-image: url('../img/layout/Hoogstraten_webshop-onderdelen-05.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-right: 0px;
    
    .photos-index-banner-ul {
        list-style-type: none;
        width: 100%;
    }
    
    .photos-index-banner-ul li {
        background: url('../img/layout/Hoogstraten_webshop-onderdelen-07.png') no-repeat;
        background-position: 8% 30%;
        background-size: 8%;
        padding-left: 20%;
        border-bottom: 1px solid #b5b5b5;
        color: #00b4ff;
        text-align: left;
        
    }
    
    .photos-index-banner-ul h5 {
        font-weight: bold;
    }
    
    font-weight: 1000;
    .photos-index-banner-ul li:nth-child(odd) {
        color: #006eab;
    }
    
    .photos-index-banner-ul li.li-no-background {
        background: none;
        padding: 5%;
        border: none;
    }
}